@font-face {
  font-family: "Symbols Nerd Font";
  src: url("../assets/symbolsNerdFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iMWriting Nerd Font";
  src: url("../assets/iMWritingMonoNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "iMWriting Nerd Font", "Symbols Nerd Font";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "iMWriting Nerd Font", "Symbols Nerd Font";
  color: rgb(200, 200, 200);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 24);
  width: 100%;
  min-height: 8vh;
}
header .hcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
header .h1 {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
header .nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
}
header .nav a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}
header .nav .selected {
  border-bottom: 4px solid rgb(200, 200, 200);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background-color: rgb(28, 28, 32);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 24);
  height: 10vh;
  padding-top: 1vh;
}
footer .hidden {
  padding-top: 1vh;
  color: rgb(28, 28, 32);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10vh;
  width: 50%;
}
.home img {
  max-width: 256px;
  height: auto;
}
.home .aboutme {
  display: flex;
  flex-direction: column;
}
.home .aboutme .namehl {
  font-family: "iMWriting Nerd Font", "Symbols Nerd Font";
  background: linear-gradient(90deg, rgb(255, 107, 107), rgb(255, 216, 107), rgb(107, 255, 218), rgb(107, 107, 255), rgb(255, 107, 107));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: gradient-rotate 8s linear infinite;
}
@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 4rem;
}
.about .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .profile img {
  max-width: 256px;
  height: auto;
}
.about .profile .description {
  display: flex;
  flex-direction: column;
}
.about .profile .description h1 {
  margin-bottom: 1rem;
}
.about .profile .description p {
  padding-top: 1rem;
  border-top: 2px solid rgb(200, 200, 200);
}
.about .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}
.about .content h2 {
  text-align: center;
  margin: 1rem;
}
.about .content .list {
  list-style: disc;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 8rem;
  padding-right: 8rem;
}
.about .content .list ul {
  list-style: circle;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.pcontent h1 {
  text-align: center;
  margin-bottom: 2vh;
}
.pcontent .projectcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.pcontent .projectcards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(20, 20, 24);
  border: 2px solid rgba(200, 200, 200, 0.4);
}
.pcontent .projectcards .card .card-img-top {
  margin-top: 1rem;
  align-self: center;
  width: 80%;
}
.pcontent .projectcards .card .card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(200, 200, 200);
}
.pcontent .projectcards .card .btn {
  margin-top: auto;
  align-self: center;
  background-color: rgb(28, 28, 32);
  border-color: rgb(200, 200, 200);
}

.postcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 50%;
}
.postcontent h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.postcontent .postscards .card {
  background-color: rgb(20, 20, 24);
  border: 2px solid rgba(200, 200, 200, 0.4);
}
.postcontent .postscards .card .col-md-8 .card-body {
  color: rgb(200, 200, 200);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 25%;
  height: auto;
  padding: 4rem;
  background-color: rgb(20, 20, 24);
  border-radius: 1rem;
  border: 2px solid rgba(200, 200, 200, 0.4);
}
.contact input {
  min-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px;
  background-color: rgb(28, 28, 32);
  border-radius: 4px;
  border: 2px solid rgba(200, 200, 200, 0.4);
}
.contact textarea {
  height: 8rem;
  min-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px;
  background-color: rgb(28, 28, 32);
  border-radius: 4px;
  border: 2px solid rgba(200, 200, 200, 0.4);
  resize: none;
  text-align: left;
  vertical-align: top;
}
.contact button {
  align-self: center;
  width: 50%;
  margin: 1rem;
  padding: 4px;
  background-color: rgb(28, 28, 32);
  color: rgb(200, 200, 200);
  border-radius: 4px;
  border: 2px solid rgba(200, 200, 200, 0.4);
}

/*# sourceMappingURL=style.css.map */
