@use 'variables' as vars;

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 4rem;
    .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 256px;
            height: auto;
        }
        .description {
            display: flex;
            flex-direction: column;
            h1 {
                // text-decoration: underline;
                margin-bottom: 1rem;
            }
            p {
                padding-top: 1rem;
                border-top: 2px solid rgba(200, 200, 200, 1);
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-top: 2rem;
        // gap: 1rem;
        div {
            border-top: 1px solid vars.$details;
            padding-top: 1rem;
            margin-top: 2rem;
            h2 {
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: center;
                margin: 1rem;
            }
            .list {
                list-style: " ";
                // list-style: disc;
                // margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: left;
                padding-left: 8rem;
                padding-right: 8rem;
                ul {
                    list-style: " ";
                    // list-style: circle;
                    padding-left: 2rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    text-align: left;
                }
            }
        }
    }
}