@use 'variables' as vars;

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    height: auto;
    padding: 4rem;
    background-color: vars.$bgColor2;
    border-radius: 1rem;
    border: 2px solid vars.$details;
    input {
        min-width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 4px;
        background-color: vars.$bgColor1;
        border-radius: 4px;
        border: 2px solid vars.$details;
        color: vars.$fontColor;
    }
    input::placeholder {
        color: vars.$details;
    }
    textarea {
        height: 8rem;
        min-width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 4px;
        background-color: vars.$bgColor1;
        border-radius: 4px;
        border: 2px solid vars.$details;
        resize: none;
        text-align: left;
        vertical-align: top;
        color: vars.$fontColor;
    }
    textarea::placeholder {
        color: vars.$details;
    }
    button {
        align-self: center;
        width: 50%;
        margin: 1rem;
        padding: 4px;
        background-color: vars.$bgColor1;
        color: vars.$fontColor;
        border-radius: 4px;
        border: 2px solid vars.$details;
    }
}