@font-face {
  font-family: 'Symbols Nerd Font';
  src: url('../assets/symbolsNerdFont.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iMWriting Nerd Font';
  src: url('../assets/iMWritingMonoNerdFont-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}