// Móviles pequeños
@media (max-width: 767.98px) {
    header {
        padding: 1rem;
        .hcontent {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-between;
            // align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            h1 {
                margin: 0;
            }
            .menu-toggle {
                flex-direction: column;
                background:none;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                // align-self: flex-end;
            }
            .collapse { //I need to use important because of bootstrap...
                order: 1;
                width: 100%;
                &.show {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &:not(.show) {
                    display: none !important;
                }
            }
            .nav {
                flex-direction: column;
                justify-content: right;
                text-align: center;
                margin: 0;
            }
        }
    }
}