@use 'variables' as vars;

* {
    font-family: "iMWriting Nerd Font", "Symbols Nerd Font";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'iMWriting Nerd Font', 'Symbols Nerd Font';
    color: vars.$fontColor;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$bgColor2;
    width: 100%;
    min-height: 8vh;
    .hcontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 50%;
        position: relative;
        h1 {
            margin: 0;
            margin-right: 8rem;
            padding: 0;
            font-weight: bold;
        }
        .menu-toggle {
            background: none;
            border: none;
            cursor: pointer;
            display: none;
            span {
                padding: 1rem;
                color: vars.$fontColor;
            }
        }
        .collapse {
            display: flex;
            visibility: visible;
        }
        .nav {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            list-style: none;
            margin-left: 8rem;
            a {
                text-decoration: none;
                min-width: fit-content;
                text-align: center;
                color: vars.$fontColor;
            }
            .selected {
                border-bottom: 4px solid vars.$fontColor;
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    background-color: vars.$bgColor1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: vars.$bgColor2;
    min-height: auto;
    padding-top: 2rem;
    p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .hidden {
        padding-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: vars.$bgColor1;
    }
}