@use 'variables' as vars;

* {
    font-family: "iMWriting Nerd Font", "Symbols Nerd Font";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'iMWriting Nerd Font', 'Symbols Nerd Font';
    color: vars.$fontColor;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$bgColor2;
    width: 100%;
    min-height: 8vh;
    .hcontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        position: relative;
    }
    .h1 {
        font-size: 10px;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    .nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        a {
            text-decoration: none;
            min-width: 64px;
            text-align: center;
            color: vars.$fontColor;
        }
        .selected {
            border-bottom: 4px solid vars.$fontColor;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    background-color: vars.$bgColor1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: vars.$bgColor2;
    min-height: auto;
    padding-top: 2rem;
    .hidden {
        padding-top: 1rem;
        color: vars.$bgColor1;
    }
}