.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
    img { // Profile image
        max-width: 256px;
        height: auto;
    }

    .aboutme { // “About me” text block
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 2.4rem;
            font-weight: bold;
        }

        .namehl { // Highlighted name with animated gradient
            font-family: 'iMWriting Nerd Font', 'Symbols Nerd Font';
            background: linear-gradient(90deg, rgba(255, 107, 107, 1), rgba(255, 216, 107, 1), rgba(107, 255, 218, 1), rgba(107, 107, 255, 1), rgba(255, 107, 107, 1));
            background-size: 400% 400%;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            display: inline-block;
            animation: gradient-rotate 8s linear infinite;

            @keyframes gradient-rotate { // Gradient animation
                0%   {background-position: 0% 50%;}
                50%  {background-position: 100% 50%;}
                100% {background-position: 0% 50%;}
            }
        }
    }
}